@import '../../../styles/styles.scss';

.Cta {
    display: block;
    position: relative;
    top: 10.5em;
    background: $yellow;

    h3 {
        font-size: 22px;
        display: inline;
        font-weight: normal;
    }

    h3 strong {
        font-size: 30px;
        font-weight: bold;
    }

    article {
        width: 33.3%;
        padding-top: 1.4em;
        height: 65px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;

        span {
            font-size: 25px;
            margin: 12px;
            background: rgba(0, 0, 0, .7);
            border-radius: 50%;
            padding: 8px 11px;
            cursor: pointer;
        }
    }

    article:nth-child(1),
    article:nth-child(3) {
        background: $yellow;
        color: black;

        span {
            color: white;
        }
    }

    article:nth-child(2) {
        background: #232323;
        text-align: center;
        clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);

        a {
            text-decoration: none;
            color: $yellow;
            font-size: 30px;

            &:hover {
                color: white;
                cursor: pointer;
            }
        }
    }
}