@import '../../../styles/styles.scss';

.Services {
    position: relative;
    top: 11em;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    main {
        .Service {
            display: inline-block;
            width: 25%;
            margin: 1em;

            h1 {
                font-size: 29px;
            }

            p {
                color: #b4b4b4;
                font-size: 18px;
            }
        }
    }

    .service-title {
        padding-bottom: 10px;
        border-bottom: 3px solid $yellow;
        border-style: dashed;
        width: 28%;
        margin: 0 auto 2em auto;
        border-left: none;
        border-top: none;
        border-right: none;
    }
}