@import '../../../styles/styles.scss';

.Header {
    background: rgba(38, 38, 38, .8);
    position: absolute;
    z-index: 1000;
    width: 100%;

    ul {
        margin: 0 auto;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            vertical-align: middle;
            width: 10%;
            margin: -7px;

            a {
                text-decoration: none;
                color: white;
                font-weight: bold;
                padding: .4em;
            }

            img {
                width: 80%;
            }
        }
    }
}